<form #form="ngForm" autocomplete="off" (submit)="salvarCambios()">
  <div class="container pt-4 pb-3">
    <div class="row">
      <div class="col-12">
        <p class="title-pages pl-3 py-3">Gestión de Categorías</p>
      </div>
    </div>
    <div class="row pt-4 pb-2">
      <div class="col-12">
        <div class="container bg-white py-3">
          <div class="row">
            <div class="col-12 col-sm-8 d-flex flex">
              <div class="container px-0">
                <div class="row">
                  <div class="col-12">
                    <input type="hidden" name="CategoriaId" id="CategoriaId" #CategoriaId="ngModel" class="form-control" [(ngModel)]="service.formData.CategoriaId">
                  </div>
                  <div class="col-12">
                    <mat-form-field class="input-custom">
                      <input matInput [(ngModel)]="service.formData.Nombre" required name="Nombre" id="Nombre" type="text" placeholder="Nombre">
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="input-custom">
                      <input matInput [(ngModel)]="service.formData.CantAutoRenovables" min="0" name="CantAutoRenovables" id="CantAutoRenovables" type="number" placeholder="Cant. AutoRenovables">
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="example-chip-list" style="width:100% !important;">
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let fruit of service.formData.Etiquetas;let indx=index;" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit,indx)">
                          {{fruit.Nombre}}
                          <mat-icon matChipRemove *ngIf="removable">close</mat-icon>
                        </mat-chip>
                        <input placeholder="Etiquetas" #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                          {{fruit.Nombre}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          <!-- IMAGE -->
            <div class="col-12 col-sm-4 d-flex flex-column flex-lg-row align-items-start">


             <!-- <img class="img-thumbnail img-preview" [src]="service.formData.Imagen" style="object-fit:cover">-->

              <div class="img-thumbnail img-preview d-flex justify-content-center align-items-center">
             <img  [src]="imagen" style="object-fit:cover;width: 100px;" *ngIf="service.formData.ImageContent && service.formData.ImageName">
              <img style="width: 100px;" [src]="getUrlImage(service.formData.ImageName,'categorias')" *ngIf="!service.formData.ImageContent && service.formData.ImageName">
</div>
              <div class="ml-lg-2 mt-1 mt-lg-0 cursor-pointer" (click)="fileInput.click()">
                <span class="d-flex align-items-center text-examine"><i class="fa fa-folder-open-o fa-2x mr-1 btn-upload-folder"></i>Examinar</span>
              </div>
              <!-- <button type="button" class="btn-upload-folder" (click)="fileInput.click()">
                <mat-label style="font-size: 18px;margin-bottom: 5px">Examinar</mat-label>
              </button> -->
              <input hidden (change)="onFileSelected()" accept="image/*" #fileInput type="file" id="file">
            </div>
            <div class="col-12 d-flex flex-column">
              <hr class="w-100 separator-btns-admin">
              <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-end">
                <button class="btn-admin px-4 mr-sm-3 mb-2 mb-sm-0" mat-raised-button [class.btn-disabled]="form.invalid" [disabled]="form.invalid" type="submit">
                  <span><i class="fa fa-floppy-o px-2" aria-hidden="true"></i></span>
                  <span class="btn-filter-border pr-3">Guardar</span>
                </button>
                <button class="btn-admin px-4" routerLink="/admin/categorias">
                  <span><i class="fa fa-arrow-left px-2" aria-hidden="true"></i></span>
                  <span class="btn-filter-border pr-3">Regresar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">

            <input type="hidden" name="CategoriaId" id="CategoriaId" #CategoriaId="ngModel" class="form-control" [(ngModel)]="service.formData.CategoriaId">
            <mat-form-field>
              <input matInput [(ngModel)]="service.formData.Nombre" required name="Nombre" id="Nombre" type="text" placeholder="Nombre">
            </mat-form-field>

          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [(ngModel)]="service.formData.CantAutoRenovables" min="0" name="CantAutoRenovables" id="CantAutoRenovables" type="number" placeholder="Cant. AutoRenovables">
            </mat-form-field>
          </div>


        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-chip-list" style="width:100% !important;">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let fruit of service.fruits;let indx=index;" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit,indx)">
                  {{fruit.Nombre}}
                  <mat-icon matChipRemove *ngIf="removable" class="btn-del-etiqueta"></mat-icon>
                </mat-chip>
                <input placeholder="Etiquetas" #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit.Nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail img-preview" [src]="service.formData.Imagen" style="object-fit:cover">
        <button type="button" class="btn-upload-folder" (click)="fileInput.click()"><mat-label style="font-size: 18px;margin-bottom: 5px">Examinar</mat-label></button>

        <input hidden (change)="onFileSelected()" accept="image/*" #fileInput type="file" id="file">
      </div>
    </div> -->

    <!-- <div class="row">
      <div class="col-md-6 offset-6" style="text-align:right">
        <div class="example-button-row">
          <button mat-raised-button color="primary" [class.btn-disabled]="form.invalid" [disabled]="form.invalid" type="submit">
            <i class="mdi mdi-tooltip-edit"> Guardar </i>
          </button>
          <button mat-raised-button color="primary" type="button" routerLink="/admin/categorias">
            <i class="mdi mdi-arrow-left"> Regresar </i>
          </button>
        </div>
      </div>
    </div> -->
  </div>
</form>
