<form #form="ngForm" autocomplete="off" (submit)="service.salvarCambios()">
  <div class="container pt-4 pb-3">
    <div class="row">
      <div class="col-12">
        <p class="title-pages pl-3 py-3">Gestión de Tipos de Transferencia y Bonificaciones</p>
      </div>
    </div>
    <div class="row pt-4 pb-2">
      <div class="col-12">
        <div class="container bg-white py-3">
          <div class="row">
            <div class="col-12">
              <input type="hidden" name="TipoTransferenciaId"  id="TipoTransferenciaId" #TipoTransferenciaId="ngModel" class="form-control" [(ngModel)]="service.formData.TipoTransferenciaId">
            </div>
            <div class="col-12">
              <div class="d-flex flex-row text-center align-items-center bg-white input-custom">
                <mat-form-field class="w-100">
                  <mat-label>Nombre</mat-label>
                  <input matInput
                     type="text"
                     name="Nombre"
                     id="Nombre"
                     #Nombre="ngModel"
                     required
                     [disabled]="service.currentUser.Rol != 'Super Administrador'"
                     [(ngModel)]="service.formData.Nombre"
                     placeholder="Nombre">
                </mat-form-field>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex flex-row text-center align-items-center bg-white input-custom">
                <mat-form-field class="w-100">
                  <mat-label>Cantidad Usada</mat-label>
                  <input matInput
                     type="number"
                     name="Cantidad"
                     id="Cantidad"
                     min="0"
                     #Cantidad="ngModel"
                     required
                     [(ngModel)]="service.formData.Cantidad"
                     placeholder="Cantidad">
                </mat-form-field>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex flex-row text-center align-items-center bg-white">
                <mat-form-field class="w-100">
                  <mat-label>Descripción</mat-label>
                  <textarea matInput type="text"
                        name="Descripcion"
                        id="Descripcion"
                        #Descripcion="ngModel"
                        [disabled]="service.currentUser.Rol != 'Super Administrador'"
                        [(ngModel)]="service.formData.Descripcion"
                        rows="10"
                        placeholder="Descripción"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 d-flex flex-column">
              <hr class="w-100 separator-btns-admin">
              <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-end">
                <button class="btn-admin px-4 mr-sm-3 mb-2 mb-sm-0" mat-raised-button [class.btn-disabled]="form.invalid" [disabled]="form.invalid" type="submit">
                  <span><i class="fa fa-floppy-o px-2" aria-hidden="true"></i></span>
                  <span class="btn-filter-border pr-3">Guardar</span>
                </button>
                <button class="btn-admin px-4" routerLink="/admin/nomencladores/tipo-transferencias">
                  <span><i class="fa fa-arrow-left px-2" aria-hidden="true"></i></span>
                  <span class="btn-filter-border pr-3">Regresar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- <br> <br> <br> <br>
<form #form="ngForm" autocomplete="off" (submit)="service.salvarCambios()">
  <div id="tipo-transferencia-add" class="grid">
    <p class="grid-header">Gestión de Tipos de Transferencia y Bonificaciones</p>
    <div class="grid-body">
      <div class="item-wrapper">

        <input type="hidden"
               name="TipoTransferenciaId"
               id="TipoTransferenciaId"
               #TipoTransferenciaId="ngModel"
               class="form-control"
               [(ngModel)]="service.formData.TipoTransferenciaId">

        <div class="row">
          <div class="col-md-9">
            <label for="Nombre"></label>
            <mat-form-field>
              <input matInput
                     type="text"
                     name="Nombre"
                     id="Nombre"
                     #Nombre="ngModel"
                     required
                     [disabled]="service.currentUser.Rol != 'Super Administrador'"
                     [(ngModel)]="service.formData.Nombre"
                     placeholder="Nombre">
            </mat-form-field>
          </div>
          <div class="col-md-3"></div>
        </div>


        <div class="row">
          <div class="col-md-9">
            <label for="Cantidad"></label>
            <mat-form-field>
              <input matInput
                     type="number"
                     name="Cantidad"
                     id="Cantidad"
                     min="0"
                     #Cantidad="ngModel"
                     required
                     [(ngModel)]="service.formData.Cantidad"
                     placeholder="Cantidad">
            </mat-form-field>
          </div>
          <div class="col-md-3"></div>
        </div>

        <div class="row">
          <div id="textareaconte" class="col-md-9">
            <label for="Descripcion"></label>
            <mat-form-field>
              <textarea matInput type="text"
                        name="Descripcion"
                        id="Descripcion"
                        #Descripcion="ngModel"
                         [disabled]="service.currentUser.Rol != 'Super Administrador'"
                        [(ngModel)]="service.formData.Descripcion"
                        rows="10"
                        placeholder="Descripcion"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-3"></div>
        </div>

        <p *ngIf="(Cantidad.invalid && Cantidad.touched) || (Nombre.invalid && Nombre.touched)" style="color: #020448; ">* Campos obligatorios</p>
        <br>

        <hr>

        <div class="row">
          <div class="col-md-6 offset-6" style="text-align:right">
            <div class="example-button-row">
              <button mat-raised-button color="primary" [class.btn-disabled]="form.invalid" [disabled]="form.invalid" type="submit">
                <i class="mdi mdi-tooltip-edit"> Guardar </i>
              </button>
              <button mat-raised-button color="primary" type="button" (click)="regresar()">
                <i class="mdi mdi-arrow-left"> Regresar </i>
              </button>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>

</form>
 -->
