<div class="container">
  <div class="row mt-sm-4">
    <div class="col-12 d-flex justify-content-center align-items-center title-modals px-0 mb-2">
      Pagar usando EnZona
    </div>
    <div class="col-12 col-sm-6 offset-sm-3 d-flex justify-content-center align-items-center mt-1">
           <img class="qr" src="../../../../../assets/images/QREnZona.png" width="350px">
<!--      <qrcode [qrdata]="value" [width]="256" [elementType]="'img'" [errorCorrectionLevel]="'M'"></qrcode>-->

    </div>
  </div>
  <div class="col-12 col-sm-8 offset-sm-2 d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center cursor-pointer oval-btn color-blue font-osbold py-2 w-100" (click)="onCloseClick()">
      VOLVER
    </div>
  </div>
</div>
