.ico-assign-bonuses {
  background: url("../../../../../../assets/images/icons/icon-assign-bonuses.png") no-repeat;
  background-size: contain;
  width: 65px !important;
  height: 65px !important;
}

.table-container {
  max-height: 155px;
  width: 100%;
  overflow: auto;
}

.table-title-l{
  background-color: #92cddc;
}

.table-title-m{
  background-color: #2f5496;
}
.table-title-d{
  background-color: #1f3864;
}

.customWidthConditions{
  flex: 0 0 286px !important;
}


mat-row:nth-child(even) {
  background: #eee;
}

mat-row:nth-child(odd) {
  background: #b8d0d6;
}

mat-row, mat-header-row, mat-footer-row {
  min-height: 30px;
}

@media (max-width: 767.98px) {
  .ico-assign-bonuses {
    background: url("../../../../../../assets/images/icons/icon-assign-bonuses.png") no-repeat;
    background-size: contain;
    width: 55px !important;
    height: 55px !important;
  }

  .buscar {
    display: none !important;
  }

  mat-table {
    width: 650px;
  }
}
