<div id="footer">
  <footer class="bg-dark-blue py-2 py-md-0 d-flex justify-content-center align-items-center">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 col-md-12 col-xl-8 d-flex flex-column flex-md-row justify-content-center align-items-center">
        <a  [routerLink]="'/pagina/2'" class="px-3">Términos y condiciones</a>
        <a  [routerLink]="'/pagina/3'" class="px-3">Nosotros</a>
        <a  [routerLink]="'/pagina/4'" class="px-3">Preguntas frecuentes</a>
        <a  [routerLink]="'/pagina/6'" class="px-3">Puntuación</a>
        <a  [routerLink]="'/pagina/5'" class="px-3">Contáctanos</a>
      </div>
      <!--(click)="loadPage()"-->
      <div class="col-12 col-md-6 col-xl-2 d-flex flex-row justify-content-center justify-content-xl-start mt-2 mt-md-0 align-items-center">
        <a href="https://t.me/setvmasinfo" target="_blank" title="Telegram"><span class="text-center"><i class="fa fa-telegram text-white mr-2 icon-size" aria-hidden="true"></i></span></a>
        <div class="social-link d-flex justify-content-center align-items-center mr-2">
          <a href="https://www.facebook.com/setvmas" target="_blank" title="Facebook"><span class="text-center"><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
        </div>
        <div class="social-link d-flex justify-content-center align-items-center mr-2">
          <a href="https://www.instagram.com/setvmas2" target="_blank" title="Instagram"><span class="text-center"><i class="fa fa-instagram" aria-hidden="true"></i></span></a>
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.setvmas.app" target="_blank" title="Google Play">
          <div class="d-flex justify-content-center align-items-center ico-google-play"></div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-xl-2 d-flex flex-column justify-content-center align-items-center align-items-xl-start mt-2 mt-md-0 font-copy-right">
        <span class="text-white">Copyright  2020. Setvmás.</span>
        <span class="text-white">Todos los derechos reservados.</span>
      </div>
    </div>
  </div>
</footer>
</div>

