IF EXISTS (SELECT name FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Usp_Reporte_Histograma_Antiguedad]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
    DROP PROCEDURE [dbo].[Usp_Reporte_Histograma_Antiguedad]
GO


CREATE PROCEDURE [dbo].[Usp_Reporte_Histograma_Antiguedad]

AS 
BEGIN


    
	 CREATE TABLE #cur_reporteAnti (Antiguedad varchar(max), Iniciado int, Oro int, Plata int, Bronce int,
	                               Diamante int, Total int
							    )
	

	---------Met Proceso---------------- 
		
		BEGIN

		    DECLARE @Antiguedad varchar(max), @Iniciado int, @Oro int, @Plata int, @Bronce int, @Diamante int, @Total int
			SET @Iniciado= 0
			SET @Oro= 0
			SET @Plata= 0
			SET @Bronce= 0
			SET @Diamante= 0
			SET @Total= 0

			SET @Antiguedad = '0-3'
			
			SELECT @Iniciado= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Iniciado' AND u.FechaCreacion <= GETDATE() AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 3,2)

			SELECT @Bronce= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Bronce' AND u.FechaCreacion <= GETDATE() AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 3,2)

			SELECT @Plata= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Plata' AND u.FechaCreacion <= GETDATE() AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 3,2)

			SELECT @Oro= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Oro' AND u.FechaCreacion <= GETDATE() AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 3,2)

			SELECT @Diamante= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Diamante' AND u.FechaCreacion <= GETDATE() AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 3,2)


			SET @Total = @Iniciado + @Oro + @Plata + @Bronce + @Diamante  
         INSERT INTO #cur_reporteAnti (Antiguedad, Iniciado, Oro, Plata, Bronce, Diamante, Total )
		                      VALUES (@Antiguedad, @Iniciado, @Oro, @Plata, @Bronce, @Diamante, @Total)
	----------------------------------------------------------------------------------------------------------------------------------------------		

	SET @Antiguedad = '3-6'
			
			SELECT @Iniciado= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Iniciado' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 3,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 3,2)

			SELECT @Bronce= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Bronce' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 3,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 6,2)

			SELECT @Plata= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Plata' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 3,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 6,2)

			SELECT @Oro= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Oro' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 3,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 6,2)

			SELECT @Diamante= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Diamante' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 3,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 6,2)


			SET @Total = @Iniciado + @Oro + @Plata + @Bronce + @Diamante  
          INSERT INTO #cur_reporteAnti (Antiguedad, Iniciado, Oro, Plata, Bronce, Diamante, Total )
		                      VALUES (@Antiguedad, @Iniciado, @Oro, @Plata, @Bronce, @Diamante, @Total)



			 ----------------------------------------------------------------------------------------------------------------------------------------------		

	      SET @Antiguedad = '6-9'
			
			SELECT @Iniciado= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Iniciado' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 6,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 9,2)

			SELECT @Bronce= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Bronce' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 6,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 9,2)

			SELECT @Plata= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Plata' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 6,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 9,2)

			SELECT @Oro= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Oro' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 6,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 9,2)

			SELECT @Diamante= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Diamante' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 6,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 9,2)


			SET @Total = @Iniciado + @Oro + @Plata + @Bronce + @Diamante  
          INSERT INTO #cur_reporteAnti (Antiguedad, Iniciado, Oro, Plata, Bronce, Diamante, Total )
		                      VALUES (@Antiguedad, @Iniciado, @Oro, @Plata, @Bronce, @Diamante, @Total)


---------------------------------------------------------------------------------------------------------------------

      SET @Antiguedad = '9-12'
			
			SELECT @Iniciado= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Iniciado' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 9,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 12,2)

			SELECT @Bronce= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Bronce' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 9,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 12,2)

			SELECT @Plata= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Plata' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 9,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 12,2)

			SELECT @Oro= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Oro' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 9,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 12,2)

			SELECT @Diamante= COUNT(*) FROM Usuario u INNER JOIN ClasesUsuarios cu ON cu.ClasesUsuariosId = u.ClasesUsuariosId
			WHERE cu.Nombre='Diamante' AND u.FechaCreacion <= GETDATE()- DATEADD(MONTH, 9,2) AND u.FechaCreacion > GETDATE() - DATEADD(MONTH, 12,2)


			SET @Total = @Iniciado + @Oro + @Plata + @Bronce + @Diamante  

			 SELECT Antiguedad, Iniciado, Oro, Plata, Bronce, Diamante, Total  FROM #cur_reporteAnti
           
		END
	
	-------Fin Met Proceso-----------
	
	
END--Procedure




