ion-content {
  --ion-background-color: #fff !important;

  .list-ad {
    ion-item {
      --inner-padding-end: 0;
      --padding-end: 0;

      ion-buttons {
        ion-button {
          --padding-top: 8px;
          --padding-end: 8px;
          --padding-bottom: 8px;
          --padding-start: 0;
          width: 32px;
        }
      }
    }
  }

  ion-grid {
    margin: 10px;

    ion-row {
      ion-col {
        ion-label {
          span {
            color: orangered;
          }
        }
      }
    }
  }
}
