<ion-header id="ad-header">
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <label>Adicionar Anuncio</label>
    </ion-title>
    <ion-badge slot="end" color="light" class="ion-margin-end ion-color-primary" *ngIf="currentUser && currentUser.Correo !== guestEmail">
      {{currentUser.Puntos}} Pts
    </ion-badge>
    <!-- <ion-buttons slot="end">
      <ion-button fill="clear" (click)="galeryMainPhoto()" color="warning" slot="end">
        <ion-icon size="large" slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="tab">
      <ion-segment-button [value]="AD_TAB">
        <ion-label> Anuncio</ion-label>
      </ion-segment-button>
      <ion-segment-button [attr.disabled]="activeOptions === false" [value]="OPTIONS_TAB" layout="icon-start">
        <ion-icon size="small" color="warning" name="star-outline" *ngIf="!activeOptions"></ion-icon>
        <ion-icon size="small" color="warning" name="star" *ngIf="activeOptions"></ion-icon>
        <ion-label> Avanzadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <div *ngIf="tab === AD_TAB" class="options-content">
    <ion-item>
      <ion-label color="primary" position="floating">* Título del anuncio</ion-label>
      <ion-input [(ngModel)]="ad.Titulo" (ionChange)="validateAd()"></ion-input>
    </ion-item>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="full">
            <ion-label color="primary" position="floating">Precio (CUP)</ion-label>
            <ion-input inputmode="numeric" type="number" (ionChange)="validateAd()" [(ngModel)]="ad.Precio"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label color="primary">Nuevo</ion-label>
            <ion-checkbox color="primary" class="custom-checkbox" slot="start" [(ngModel)]="ad.ProductoNuevo">
            </ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label color="primary">* Categoría</ion-label>
      <ionic-selectable #categorySelectAdd headerColor="primary" itemTextField="Nombre"
        [items]="categories" [canSearch]="true" (onChange)="categoryChange($event)">
      </ionic-selectable>
    </ion-item>
    <ion-item *ngIf="tags && tags.length > 0">
      <ion-label color="primary">* Etiquetas</ion-label>
      <ionic-selectable #tagsComponent headerColor="primary"[(ngModel)]="ad.Etiquetas" [isMultiple]="true"
        itemTextField="Nombre" [isConfirmButtonEnabled]="tagsComponent.itemsToConfirm.length >= 1 && tagsComponent.itemsToConfirm.length <= 3" 
        clearButtonText="Limpiar" [canClear]="true" (onChange)="validateAd()" [items]="tags" [canSearch]="true">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label color="primary">* Acción</ion-label>
      <ionic-selectable (onChange)="validateAd()" headerColor="primary"[(ngModel)]="ad.Accion"
        [items]="actionsAdd">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label color="primary">* Municipio</ion-label>
      <ionic-selectable (click)="loadListMunicipios()" #municipioSelectAdd itemValueField="Nombre" itemTextField="Nombre"
        groupValueField="provincia.Nombre" groupTextField="provincia.Nombre" [items]="localities"
        searchPlaceholder="Buscar" closeButtonText="Cerrar" closeButtonSlot="end" [canSearch]="true"
        headerColor="primary" (onChange)="municipioChange($event)">
        <ng-template ionicSelectableGroupTemplate let-group="group">
          {{group.text}}
        </ng-template>
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="ad.Descripcion" rows="3" clearOnEdit="true"></ion-textarea>
    </ion-item>

    <ion-item-divider mode="ios" color="primary">
      <ion-label>Datos del Contacto</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label color="primary" position="floating">* Nombre</ion-label>
      <ion-input (ionChange)="validateAd()" [(ngModel)]="ad.NombreContacto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">* Teléfono</ion-label>
      <ion-input (ionChange)="validateAd()" [(ngModel)]="ad.TelefonoContacto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">* Correo</ion-label>
      <ion-input (ionChange)="validateAd()" [(ngModel)]="ad.CorreoContacto"></ion-input>
    </ion-item>
    <ion-item-divider mode="ios" color="primary" class="images-form">
      <ion-label>Imagen Principal</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="mainPhoto(cameraOptions)" color="light">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="mainPhoto(galeryOptions)" color="light">
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item-divider>
    <ion-item class="images-custom" lines="full" *ngIf="mainImage">
      <ion-img [src]="mainImage"></ion-img>
      <!-- <ion-img src=""></ion-img> -->
      <ion-button fill="clear" (click)="removeMainPhoto()" color="primary" slot="end">
        <ion-icon size="large" slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item-divider mode="ios" color="primary" class="images-form">
      <ion-label>Imágenes Adicionales</ion-label>
      <ion-buttons slot="end" *ngIf="ad.AlmacenImagen.length < configurations.Max_Img_Free">
        <ion-button fill="clear" (click)="freeAditionalPhoto(cameraOptions)" color="light">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="freeAditionalPhoto(galeryOptions)" color="light">
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item-divider>
    <div *ngIf="ad.AlmacenImagen.length > 0">
      <ion-item class="images-custom" lines="full" *ngFor="let image of ad.AlmacenImagen">
        <ion-img [src]="image.ImageContent"></ion-img>
        <ion-button fill="clear" (click)="removeFreeAditionalPhoto(image.ImageName)" color="primary" slot="end">
          <ion-icon size="large" slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <ion-item lines="none" class="captcha-item ion-padding-top">
      <div class="center-button">
        <re-captcha (resolved)="captchaResolved($event)" siteKey="6LfI1fcUAAAAAEwQ1Fb86Qkhabye30Y81fMYxsHM"></re-captcha>
      </div>
    </ion-item>
  </div>
  <div class="options-content" *ngIf="tab === OPTIONS_TAB">
    <ion-item-divider mode="ios" color="primary">
      <ion-checkbox [(ngModel)]="payOptions.destacado.IsActivo" slot="start"></ion-checkbox>
      <ion-label> Destacar el anuncio</ion-label>
      <ion-button fill="clear" (click)="presentAlertConfirm('destacado')" color="light" slot="end">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <ion-item *ngIf="payOptions.destacado.IsActivo">
      <ion-label position="fixed">Días a pagar:</ion-label>
      <ion-input inputmode="numeric" type="number" min="1" [(ngModel)]="payOptions.destacado.CantidadDias"></ion-input>
      <ion-label *ngIf="payOptions.destacado.Precio" slot="end" color="warning">Pts x Día:
        {{payOptions.destacado.Precio}}</ion-label>
    </ion-item>
    <ion-item-divider mode="ios" color="primary">
      <ion-checkbox [(ngModel)]="payOptions.masEtiquetas.IsActivo" slot="start"></ion-checkbox>
      <ion-label>Comprar más etiquetas</ion-label>
      <ion-button fill="clear" (click)="presentAlertConfirm('masEtiquetas')" color="light" slot="end">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <div *ngIf="payOptions.masEtiquetas.IsActivo">
      <ion-item>
        <ion-label position="fixed">Días a pagar:</ion-label>
        <ion-input inputmode="numeric" type="number" min="1" [(ngModel)]="payOptions.masEtiquetas.CantidadDias">
        </ion-input>
        <ion-label *ngIf="payOptions.masEtiquetas.Precio" slot="end" color="warning">Pts x Día:
          {{payOptions.masEtiquetas.Precio}}</ion-label>
      </ion-item>
      <ion-item *ngIf="payedTags && payedTags.length > 0">
        <ion-label color="primary">Etiquetas</ion-label>
        <ionic-selectable headerColor="primary"[isMultiple]="true" itemTextField="Nombre"
          [canClear]="true" clearButtonText="Limpiar" (onChange)="changePayedTags($event)" [items]="payedTags" [canSearch]="true">
        </ionic-selectable>
      </ion-item>
    </div>
    <ion-item-divider mode="ios" color="primary">
      <ion-checkbox [(ngModel)]="payOptions.autorenovar.IsActivo" slot="start"></ion-checkbox>
      <ion-label>Autorenovar periódicamente</ion-label>
      <ion-button fill="clear" (click)="presentAlertConfirm('autorenovar')" color="light" slot="end">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <div *ngIf="payOptions.autorenovar.IsActivo">
      <ion-item>
        <ion-label position="fixed">Días a pagar:</ion-label>
        <ion-input inputmode="numeric" type="number" min="1" [(ngModel)]="payOptions.autorenovar.CantidadDias">
        </ion-input>
        <ion-label *ngIf="payOptions.autorenovar.Precio" slot="end" color="warning">Pts x Día:
          {{payOptions.autorenovar.Precio}}</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label slot="start" style="max-width: 85px;">Frecuencia</ion-label>
        <ion-select value="AUTO_24" (ionChange)="changeAuto($event)" cancelText="Cancelar" okText="Aceptar"
          style="min-width: -webkit-fill-available;">
          <ion-select-option value="AUTO_24">Cada 24 horas</ion-select-option>
          <ion-select-option value="AUTO_6">Cada 6 horas</ion-select-option>
          <ion-select-option value="AUTO_1">Cada 1 hora</ion-select-option>
          <ion-select-option value="AUTO_TOP">Autorenovable Top</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-item-divider mode="ios" color="primary">
      <ion-checkbox (ionChange)="removeUrl($event)" [(ngModel)]="payOptions.web.IsActivo" slot="start"></ion-checkbox>
      <ion-label>Anuncie su web</ion-label>
      <ion-button fill="clear" (click)="presentAlertConfirm('web')" color="light" slot="end">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <div *ngIf="payOptions.web.IsActivo">
      <ion-item>
        <ion-label position="fixed">Días a pagar:</ion-label>
        <ion-input inputmode="numeric" type="number" min="1" [(ngModel)]="payOptions.web.CantidadDias"></ion-input>
        <ion-label *ngIf="payOptions.web.Precio" slot="end" color="warning">Pts x Día: {{payOptions.web.Precio}}
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-checkbox (ionChange)="changeMyWeb($event)" slot="start"></ion-checkbox>
        <ion-label>Mi web es el anuncio</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="fixed">URL:</ion-label>
        <ion-input [(ngModel)]="ad.Url"></ion-input>
      </ion-item>
    </div>
    <ion-item-divider mode="ios" color="primary">
      <ion-checkbox [(ngModel)]="payOptions.masImages.IsActivo" slot="start"></ion-checkbox>
      <ion-label>Inserte más imágenes</ion-label>
      <ion-button fill="clear" (click)="presentAlertConfirm('masImages')" color="light" slot="end">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <div *ngIf="payOptions.masImages.IsActivo">
      <ion-item lines="full">
        <ion-label position="fixed">Días a pagar:</ion-label>
        <ion-input inputmode="numeric" type="number" min="1" [(ngModel)]="payOptions.masImages.CantidadDias">
        </ion-input>
        <ion-label *ngIf="payOptions.masImages.Precio" slot="end" color="warning">Pts x Día:
          {{payOptions.masImages.Precio}}</ion-label>
      </ion-item>
      <ion-item lines="full" *ngIf="!payImage">
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="payAditionalPhoto(cameraOptions, 'payImage')" color="primary">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="payAditionalPhoto(galeryOptions, 'payImage')" color="primary">
            <ion-icon slot="icon-only" name="image"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item *ngIf="payImage" lines="full">
        <ion-img [src]="payImage.ImageContent"></ion-img>
        <ion-button fill="clear" (click)="removePayAditionalPhoto('payImage')" color="primary" slot="end">
          <ion-icon size="large" slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <ion-item-divider mode="ios" color="primary">
      <ion-checkbox (ionChange)="checkBannerInf($event)" [(ngModel)]="payOptions.bannerInferior.IsActivo" slot="start">
      </ion-checkbox>
      <ion-label>Anuncie banner inferior</ion-label>
      <ion-button fill="clear" (click)="presentAlertConfirm('bannerInferior')" color="light" slot="end">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <div *ngIf="payOptions.bannerInferior.IsActivo">
      <ion-item lines="full">
        <ion-label position="fixed">Días a pagar:</ion-label>
        <ion-input inputmode="numeric" type="number" min="1" [(ngModel)]="payOptions.bannerInferior.CantidadDias">
        </ion-input>
        <ion-label *ngIf="payOptions.bannerInferior.Precio" slot="end" color="warning">Pts x Día:
          {{payOptions.bannerInferior.Precio}}</ion-label>
      </ion-item>
    </div>

    <ion-item-divider mode="ios" color="primary">
      <ion-checkbox [(ngModel)]="payOptions.bannnerSuperior.IsActivo" slot="start"></ion-checkbox>
      <ion-label>Anuncie banner superior</ion-label>
      <ion-button fill="clear" (click)="presentAlertConfirm('bannerSuperior')" color="light" slot="end">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <div *ngIf="payOptions.bannnerSuperior.IsActivo">
      <ion-item lines="full">
        <ion-label position="fixed">Días a pagar:</ion-label>
        <ion-input inputmode="numeric" type="number" min="1" [(ngModel)]="payOptions.bannnerSuperior.CantidadDias">
        </ion-input>
        <ion-label *ngIf="payOptions.bannnerSuperior.Precio" slot="end" color="warning">Pts x Día:
          {{payOptions.bannnerSuperior.Precio}}</ion-label>
      </ion-item>
      <ion-item lines="full" *ngIf="!bannerDesktop" class="ion-text-wrap">
        <ion-text color="warning" style="margin: 5px 0; font-size: 12px;">Debes introducir un banner para escritorio con
          las siguientes dimesiones (px): 1170x166</ion-text>
        <ion-button fill="clear" (click)="payAditionalPhoto(galeryOptions, 'bannerDesktop')" color="primary">
          <ion-icon size="large" name="image"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="bannerDesktop" lines="full">
        <ion-img [src]="bannerDesktop.ImageContent"></ion-img>
        <ion-button fill="clear" (click)="removePayAditionalPhoto('bannerDesktop')" color="primary" slot="end">
          <ion-icon size="large" slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="full" *ngIf="!bannerMobile" class="ion-text-wrap">
        <ion-text color="warning" style="margin: 5px 0; font-size: 12px;">Debes introducir un banner para móviles con
          las siguientes dimesiones (px): 322x166</ion-text>
        <ion-button fill="clear" (click)="payAditionalPhoto(galeryOptions, 'bannerMobile')" color="primary">
          <ion-icon size="large" name="image"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="bannerMobile" lines="full">
        <ion-img [src]="bannerMobile.ImageContent"></ion-img>
        <ion-button fill="clear" (click)="removePayAditionalPhoto('bannerMobile')" color="primary" slot="end">
          <ion-icon size="large" slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </div>

  </div>
  <ion-fab *ngIf="toBuy" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="light" [routerLink]="['/', 'buy-point']" class="notification-icon-button">
      <ion-icon color="warning" name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-label *ngIf="calculate() !== 0" color="warning" slot="start" style="margin-left: 5px;">Pts a Pagar: <strong>
        {{calculate()}} </strong> </ion-label>
    <ion-buttons slot="end">
      <ion-button color="primary" [routerLink]="['/', 'home']">
        Cancelar
      </ion-button>
      <ion-button [disabled]="!isValid" class="save-button" fill="solid" shape="round" color="primary" (click)="save()">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>