.images-form {
  margin-top: 15px;
}

.images-custom {
  ion-img {
    max-height: 100px;
    // border: 1px solid #ddd;
    height: 100px;
    object-fit: contain;
    margin: 5px 0;
    width: -webkit-fill-available;
  }

  ion-button {
    height: auto;
  }
}

ion-footer {
  ion-button.save-button {
    padding: 0 8px;
    --padding-start: 12px;
    --padding-end: 12px;
  }
}

.options-content {
  ion-item-divider {
    margin-top: 10px;
    z-index: 0;
    ion-label {
      margin-left: 10px;
    }
  }
}

ion-item {
  &.full-padding {
    --padding-start: 0;
    --inner-padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
  }

  .custom-checkbox {
    margin-left: 25px;
    margin-right: 10px;
  }
}

.tag-close {
  vertical-align: bottom;
}

.custom {
  --min-height: 20px;
  text-align: center;

  ion-badge {
    margin-right: 3px;
  }
}


.notification-icon-button {
  --overflow: visible;

  ion-badge {
    position: absolute;
    background: #f70b0b;
    border-radius: 50%;
    opacity: 0.9;
    width: auto;
    min-width: 18px;
    height: 18px;
    font-size: 11px;
    font-weight: 100;
    line-height: normal;
    inline-size: fit-content;
    top: 6px;
    right: 6px;
  }
}